<div class="main">
    <div class="main-container">
        <div class="main-logo">
            <div class="main-logo__lines main-logo__lines_left">
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
            </div>
            <div class="main-logo__circle main-logo__circle_external">
                <div class="main-logo__circle main-logo__circle_internal">
                    <div class="main-logo__title">k/a</div>
                </div>
            </div>
            <div class="main-logo__lines main-logo__lines_right">
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
                <span class="main-logo__line"></span>
            </div>
        </div>
        <h1 class="main-title">khakholin alexander</h1>
        <h2 class="main-subtitle">frontend developer</h2>
    </div>
    <a href="#about" class="main-button">
        <div class="main-button__arrow"></div>
    </a>
</div>