<div
    class="burger"
    [style.borderColor]="isNavigationShown ? 'white' : 'transparent'"
    (click)="onBurgerClick()"
>
    <div
        class="burger-line"
        [ngClass]="{'burger_open': isNavigationShown}"
    ></div>
</div>
<div
    class="navigation"
    [ngClass]="{'navigation_active': isNavigationShown}"
>
    <div class="navigation-menu">
        <a
            *ngFor="let item of navigationItems"
            class="navigation-menu__item"
            (click)="navigateTo(item)"
        >
            {{item}}
        </a>
    </div>

    <div class="navigation-social">
        <a
            *ngFor="let item of navigationSocialItems"
            [href]="item.url"
            class="navigation-social__item"
            target="_blank"
        >
            <i [class]="'fab ' + item.iconClass"></i>
        </a>
    </div>
</div>

<app-landing-logo (downClick)="navigateTo('about')"></app-landing-logo>
<div #landingAbout>
    <app-landing-about></app-landing-about>
</div>
<div #landingTimeline>
    <app-landing-timeline></app-landing-timeline>
</div>
<div #landingContacts>
    <app-landing-contacts></app-landing-contacts>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer__text">
            Created and written by Alexander Khakholin with Angular
        </div>
    </div>
</footer>